<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chicago Crime Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <!-- Leaflet CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" /> -->
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<!-- Marker cluster CSS -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
<link rel="stylesheet" type="text/css"
  href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
<!-- Marker cluster JavaScript code -->
<script type="text/javascript"
  src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

</head>

<body>
  <!-- Jumbotron -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Chicago Crime Dashboard</h1>
        <p>This dataset reflects reported incidents of crime (with the exception of murders where data exists for each
          victim) that occurred in the City of Chicago from 2011 to 2020</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well container-fluid">
          <h5>Year:</h5>
          <select id="selDataset_1" ></select>
        </div>
      </div>
        
      <div class="col-md-6">
        <div class="well container-fluid">
          <h5>Primary Type:</h5>
          <select id="selDataset"></select>
        </div>
        
      </div>
        
    </div>


    </div>

    <!-- Year, Primary type & Description filter -->
    <div class="row">
      <div class="col-md-5">
        
        <div id="map"></div>
      
      </div>

      
  
      <div class="col-md-7">
        <div class="row">
          <div id="bar_1"></div>
        </div>
        
        <div class="row">
          <canvas id="myChart" width='300' height='100'></canvas>
        </div>
        <div class="row">
          <div id="bar_2"></div>
        </div>
        
      </div>
      <!-- <div class="col-md-5"> -->
        
      <!-- </div> -->
      <!-- <div class="col-md-5"> -->
        <!-- <div id="bar_3"></div> -->
      <!-- </div id="bar"></div> -->
      <!-- </div> -->
      <!-- <div class="col-md-5"> -->
        <!-- <div></div> -->
    </div>


    <!-- The div that holds our map -->
    <!-- <div id="map"></div> -->
  </div>



  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- Leaflet JS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></scrip> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
</body>

</html>