<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <select name="" id="">
            {% for year in Year %}
            <option value="{{year}}">{{year}}</option>

            {% endfor %}
        </select>

        <select name="" id="">
            {% for description in Description %}
            <option value="{{description}}">{{description}}</option>

            {% endfor %}
        </select>
        <button id = "select">Select</button>
    </div>
    
</body>
<script>
    // d3.selectAll("#selDataset").on("click", updatePlotly);
    // document.getElementById

</script>


</html>